[Unit]
Description=Slack ChatOps Bot Service - Active Directory
After=network.target

[Service]
User=netor
Group=netor
EnvironmentFile=/etc/environment
Restart=always
RestartPreventExitStatus=SIGHUP
RestartSec=5
ExecStart=/usr/bin/python3 ${NETOR}netor/slack/slack-bot-ad.py

[Install]
WantedBy=default.target
