[Neto]
neto_home_directory = /home/adrian/neto-master/neto/

[TinyDB]
db_path_name = ${Neto:neto_home_directory}tinydb/data/db.json

[Ansible]
ansible_hosts_path_name = ${Neto:neto_home_directory}ansible/hosts
ansible_backup_hosts_path_name = ${Neto:neto_home_directory}/ansible/backup/hosts

[SaltStack]
salt_minion_path_name = ${Neto:neto_home_directory}salt/config/minion
salt_backup_directory = ${Neto:neto_home_directory}salt/config/backup/
salt_pillar_directory = ${Neto:neto_home_directory}salt/config/pillar/
salt_backup_pillar_directory = ${Neto:neto_home_directory}salt/config/backup/pillar/
salt_top_path_name = ${Neto:neto_home_directory}salt/config/pillar/top.sls
salt_states_directory = ${Neto:neto_home_directory}salt/config/pillar/states/

