[Netor]
netor_home_directory = /home/adrian/netor-master/

[TinyDB]
db_path_name = ${Netor:netor_home_directory}netor/tinydb/data/db.json
tinydb_log_file = ${Netor:netor_home_directory}netor/log/tinydb.log

[Ansible]
ansible_hosts_path_name = ${Netor:netor_home_directory}netor/ansible/hosts
ansible_backup_hosts_path_name = ${Netor:netor_home_directory}netor/ansible/backup/hosts

[Salt]
salt_minion_path_name = ${Netor:netor_home_directory}netor/salt/config/minion
salt_backup_directory = ${Netor:netor_home_directory}netor/salt/config/backup/
salt_pillar_directory = ${Netor:netor_home_directory}netor/salt/config/pillar/
salt_backup_pillar_directory = ${Netor:netor_home_directory}netor/salt/config/backup/pillar/
salt_top_path_name = ${Netor:netor_home_directory}netor/salt/config/pillar/top.sls
salt_states_directory = ${Netor:netor_home_directory}netor/salt/config/pillar/states/

[Slack]
bot_hhrr_oauth =
bot_hhrr_log_file = ${Netor:netor_home_directory}netor/log/slack-bot-hhrr.log
bot_ad_oauth = 8kt
bot_ad_log_file = ${Netor:netor_home_directory}netor/log/slack-bot-ad.log
bot_win_oauth =
bot_win_log_file = ${Netor:netor_home_directory}netor/log/slack-bot-win.log
bot_linux_oauth =
bot_linux_log_file = ${Netor:netor_home_directory}netor/log/slack-bot-linux.log
bot_netw_oauth =
bot_netw_log_file = ${Netor:netor_home_directory}netor/log/slack-bot-netw.log
bot_approvals_oauth =
bot_approvals_log_file = ${Netor:netor_home_directory}netor/log/slack-bot-approvals.log
bot_test_oauth = 
bot_test_log_file = ${Netor:netor_home_directory}netor/log/slack-bot-test.log
