[Netor]
netor_home_directory = /home/adrian/netor-master/

[TinyDB]
db_path_name = ${Netor:netor_home_directory}netor/tinydb/data/db.json

[Ansible]
ansible_hosts_path_name = ${Netor:netor_home_directory}netor/ansible/hosts
ansible_backup_hosts_path_name = ${Netor:netor_home_directory}netor/ansible/backup/hosts

[SaltStack]
salt_minion_path_name = ${Netor:netor_home_directory}netor/salt/config/minion
salt_backup_directory = ${Netor:netor_home_directory}netor/salt/config/backup/
salt_pillar_directory = ${Netor:netor_home_directory}netor/salt/config/pillar/
salt_backup_pillar_directory = ${Netor:netor_home_directory}netor/salt/config/backup/pillar/
salt_top_path_name = ${Netor:netor_home_directory}netor/salt/config/pillar/top.sls
salt_states_directory = ${Netor:netor_home_directory}netor/salt/config/pillar/states/

